
node_modules
vendor
var/cache
var/log
var/sessions
public/bundles
public/assets
assets/vendor
.phpunit.cache
.env
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
docker-compose.yml
compose.override.yaml
compose.yaml
.git
.gitignore
