CREATE TABLE game (game_id INT AUTO_INCREMENT NOT NULL, name VARCHAR(150) NOT NULL, genre VARCHAR(100) DEFAULT NULL, description LONGTEXT DEFAULT NULL, PRIMARY KEY (game_id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
CREATE TABLE team (team_id INT AUTO_INCREMENT NOT NULL, team_name VARCHAR(150) NOT NULL, logo VARCHAR(255) DEFAULT NULL, creation_date DATE DEFAULT NULL, user_id INT DEFAULT NULL, INDEX IDX_C4E0A61FA76ED395 (user_id), PRIMARY KEY (team_id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
CREATE TABLE tournament (tournament_id INT AUTO_INCREMENT NOT NULL, tournament_name VARCHAR(150) NOT NULL, start_date DATE DEFAULT NULL, end_date DATE DEFAULT NULL, prize_pool NUMERIC(10, 2) DEFAULT NULL, location VARCHAR(10) DEFAULT NULL, game_id INT DEFAULT NULL, user_id INT DEFAULT NULL, INDEX IDX_BD5FB8D9E48FD905 (game_id), INDEX IDX_BD5FB8D9A76ED395 (user_id), PRIMARY KEY (tournament_id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
CREATE TABLE messenger_messages (id BIGINT AUTO_INCREMENT NOT NULL, body LONGTEXT NOT NULL, headers LONGTEXT NOT NULL, queue_name VARCHAR(190) NOT NULL, created_at DATETIME NOT NULL, available_at DATETIME NOT NULL, delivered_at DATETIME DEFAULT NULL, INDEX IDX_75EA56E0FB7336F0E3BD61CE16BA31DBBF396750 (queue_name, available_at, delivered_at, id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
ALTER TABLE team ADD CONSTRAINT FK_C4E0A61FA76ED395 FOREIGN KEY (user_id) REFERENCES users (user_id);
ALTER TABLE tournament ADD CONSTRAINT FK_BD5FB8D9E48FD905 FOREIGN KEY (game_id) REFERENCES game (game_id);
ALTER TABLE tournament ADD CONSTRAINT FK_BD5FB8D9A76ED395 FOREIGN KEY (user_id) REFERENCES users (user_id);
ALTER TABLE cart DROP FOREIGN KEY `cart_ibfk_1`;
ALTER TABLE cart DROP FOREIGN KEY `cart_ibfk_2`;
ALTER TABLE commentaires DROP FOREIGN KEY `commentaires_ibfk_1`;
ALTER TABLE commentaires DROP FOREIGN KEY `commentaires_ibfk_2`;
ALTER TABLE events DROP FOREIGN KEY `events_ibfk_1`;
ALTER TABLE events DROP FOREIGN KEY `events_ibfk_2`;
ALTER TABLE face_authentication DROP FOREIGN KEY `face_authentication_ibfk_1`;
ALTER TABLE orders DROP FOREIGN KEY `orders_ibfk_1`;
ALTER TABLE order_items DROP FOREIGN KEY `order_items_ibfk_1`;
ALTER TABLE order_items DROP FOREIGN KEY `order_items_ibfk_2`;
ALTER TABLE products DROP FOREIGN KEY `products_ibfk_1`;
ALTER TABLE products DROP FOREIGN KEY `products_ibfk_2`;
ALTER TABLE reservations DROP FOREIGN KEY `reservations_ibfk_1`;
ALTER TABLE reservations DROP FOREIGN KEY `reservations_ibfk_2`;
ALTER TABLE reviews DROP FOREIGN KEY `reviews_ibfk_1`;
ALTER TABLE reviews DROP FOREIGN KEY `reviews_ibfk_2`;
ALTER TABLE stream_comments DROP FOREIGN KEY `stream_comments_ibfk_1`;
ALTER TABLE stream_comments DROP FOREIGN KEY `stream_comments_ibfk_2`;
ALTER TABLE teams DROP FOREIGN KEY `teams_ibfk_1`;
ALTER TABLE tournaments DROP FOREIGN KEY `tournaments_ibfk_1`;
ALTER TABLE tournaments DROP FOREIGN KEY `tournaments_ibfk_2`;
DROP TABLE cart;
DROP TABLE categories;
DROP TABLE commentaires;
DROP TABLE events;
DROP TABLE face_authentication;
DROP TABLE games;
DROP TABLE live_streams;
DROP TABLE locations;
DROP TABLE news;
DROP TABLE orders;
DROP TABLE order_items;
DROP TABLE products;
DROP TABLE reservations;
DROP TABLE reviews;
DROP TABLE spectators;
DROP TABLE stream_comments;
DROP TABLE teams;
DROP TABLE tournaments;
ALTER TABLE matches DROP FOREIGN KEY `matches_ibfk_1`;
ALTER TABLE matches DROP FOREIGN KEY `matches_ibfk_2`;
ALTER TABLE matches DROP FOREIGN KEY `matches_ibfk_3`;
ALTER TABLE matches DROP FOREIGN KEY `matches_ibfk_4`;
ALTER TABLE matches DROP FOREIGN KEY `matches_ibfk_1`;
ALTER TABLE matches DROP FOREIGN KEY `matches_ibfk_2`;
ALTER TABLE matches DROP FOREIGN KEY `matches_ibfk_3`;
ALTER TABLE matches DROP FOREIGN KEY `matches_ibfk_4`;
ALTER TABLE matches CHANGE score_team_a score_team_a INT DEFAULT NULL, CHANGE score_team_b score_team_b INT DEFAULT NULL;
ALTER TABLE matches ADD CONSTRAINT FK_62615BA33D1A3E7 FOREIGN KEY (tournament_id) REFERENCES tournament (tournament_id);
ALTER TABLE matches ADD CONSTRAINT FK_62615BAE48FD905 FOREIGN KEY (game_id) REFERENCES game (game_id);
ALTER TABLE matches ADD CONSTRAINT FK_62615BAEA3FA723 FOREIGN KEY (team_a_id) REFERENCES team (team_id);
ALTER TABLE matches ADD CONSTRAINT FK_62615BAF88A08CD FOREIGN KEY (team_b_id) REFERENCES team (team_id);
DROP INDEX tournament_id ON matches;
CREATE INDEX IDX_62615BA33D1A3E7 ON matches (tournament_id);
DROP INDEX game_id ON matches;
CREATE INDEX IDX_62615BAE48FD905 ON matches (game_id);
DROP INDEX team_a_id ON matches;
CREATE INDEX IDX_62615BAEA3FA723 ON matches (team_a_id);
DROP INDEX team_b_id ON matches;
CREATE INDEX IDX_62615BAF88A08CD ON matches (team_b_id);
ALTER TABLE matches ADD CONSTRAINT `matches_ibfk_1` FOREIGN KEY (tournament_id) REFERENCES tournaments (tournament_id);
ALTER TABLE matches ADD CONSTRAINT `matches_ibfk_2` FOREIGN KEY (game_id) REFERENCES games (game_id);
ALTER TABLE matches ADD CONSTRAINT `matches_ibfk_3` FOREIGN KEY (team_a_id) REFERENCES teams (team_id);
ALTER TABLE matches ADD CONSTRAINT `matches_ibfk_4` FOREIGN KEY (team_b_id) REFERENCES teams (team_id);
ALTER TABLE match_players DROP FOREIGN KEY `match_players_ibfk_1`;
ALTER TABLE match_players DROP FOREIGN KEY `match_players_ibfk_2`;
ALTER TABLE match_players DROP FOREIGN KEY `match_players_ibfk_3`;
ALTER TABLE match_players DROP FOREIGN KEY `match_players_ibfk_1`;
ALTER TABLE match_players DROP FOREIGN KEY `match_players_ibfk_2`;
ALTER TABLE match_players DROP FOREIGN KEY `match_players_ibfk_3`;
ALTER TABLE match_players ADD CONSTRAINT FK_51E81CC92ABEACD6 FOREIGN KEY (match_id) REFERENCES matches (match_id);
ALTER TABLE match_players ADD CONSTRAINT FK_51E81CC9A76ED395 FOREIGN KEY (user_id) REFERENCES users (user_id);
ALTER TABLE match_players ADD CONSTRAINT FK_51E81CC9296CD8AE FOREIGN KEY (team_id) REFERENCES team (team_id);
DROP INDEX match_id ON match_players;
CREATE INDEX IDX_51E81CC92ABEACD6 ON match_players (match_id);
DROP INDEX user_id ON match_players;
CREATE INDEX IDX_51E81CC9A76ED395 ON match_players (user_id);
DROP INDEX team_id ON match_players;
CREATE INDEX IDX_51E81CC9296CD8AE ON match_players (team_id);
ALTER TABLE match_players ADD CONSTRAINT `match_players_ibfk_1` FOREIGN KEY (match_id) REFERENCES matches (match_id) ON DELETE CASCADE;
ALTER TABLE match_players ADD CONSTRAINT `match_players_ibfk_2` FOREIGN KEY (user_id) REFERENCES users (user_id) ON DELETE CASCADE;
ALTER TABLE match_players ADD CONSTRAINT `match_players_ibfk_3` FOREIGN KEY (team_id) REFERENCES teams (team_id) ON DELETE CASCADE;
ALTER TABLE team_players DROP FOREIGN KEY `team_players_ibfk_1`;
ALTER TABLE team_players DROP FOREIGN KEY `team_players_ibfk_2`;
ALTER TABLE team_players DROP FOREIGN KEY `team_players_ibfk_1`;
ALTER TABLE team_players DROP FOREIGN KEY `team_players_ibfk_2`;
ALTER TABLE team_players ADD CONSTRAINT FK_D9373291296CD8AE FOREIGN KEY (team_id) REFERENCES team (team_id);
ALTER TABLE team_players ADD CONSTRAINT FK_D9373291A76ED395 FOREIGN KEY (user_id) REFERENCES users (user_id);
DROP INDEX team_id ON team_players;
CREATE INDEX IDX_D9373291296CD8AE ON team_players (team_id);
DROP INDEX user_id ON team_players;
CREATE INDEX IDX_D9373291A76ED395 ON team_players (user_id);
ALTER TABLE team_players ADD CONSTRAINT `team_players_ibfk_1` FOREIGN KEY (team_id) REFERENCES teams (team_id) ON DELETE CASCADE;
ALTER TABLE team_players ADD CONSTRAINT `team_players_ibfk_2` FOREIGN KEY (user_id) REFERENCES users (user_id) ON DELETE CASCADE;
ALTER TABLE users ADD firstname VARCHAR(100) DEFAULT NULL, ADD lastname VARCHAR(100) DEFAULT NULL, ADD registration_date DATE DEFAULT NULL, DROP roles, DROP first_name, DROP last_name, DROP avatar, DROP is_active, DROP last_login_at, DROP created_at, DROP updated_at, CHANGE email email VARCHAR(255) NOT NULL, CHANGE username username VARCHAR(150) NOT NULL;
CREATE UNIQUE INDEX UNIQ_1483A5E9F85E0677 ON users (username);
DROP INDEX email ON users;
CREATE UNIQUE INDEX UNIQ_1483A5E9E7927C74 ON users (email);
